body {    
    background-image: url("https://thumbs.gfycat.com/GenerousBestFireant-max-1mb.gif");
    /*background-repeat: no-repeat;*/
    background-size: 100%;
}
/*
body > .grid {
    height: 100%
}
*/

.grid {
    height: 100%;
}

.image {
    margin-top: -100px;
}

.column {
    max-width: 450px;
}